@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

Contact us directly if you'd like to register your U-10 player with our league manager
1-800-555-5555
