@{
    ViewData["Title"] = "Confirm";
}
<div class="item">
    <h1>Registration Complete!</h1>

    <h3>For Players, Parents and Volunteers</h3>
    <h4>Please watch and learn about concussions!</h4>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/esJmNK6Ekv4" frameborder="0" allowfullscreen></iframe>

    <p />

    <h3>Volunteers</h3>
    <h4>Please watch and learn about our league rules and Referee expectations!</h4>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8x6RcHEYiFQ" frameborder="0" allowfullscreen></iframe>

    <p />
    <p>
        Contact us directly if you'd like to register your U-10 player with our league manager<br>
        1-800-555-5555
    <p />
</div>
